.gallery-area {

    .gallery-content {
        p {
            font-size: 20px;
            line-height: 34px;
            font-weight: 400;
            text-align: justify;
        }
    }
}


// .gallery-slider {
//     .owl-item.pre-active {
//         .gallery-slide {
//             img {
//                 max-width: 400px;
//                 width: 400px;
//               }
//         }
//     }
// }