.subscribe-area {

    .subscribe {
        background-image: url('../img/subscribe-bg.png');
        padding: 95px 0;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        h3 {
            font-weight: bold;
            font-size: 44px;
            line-height: 57px;
            color: $white;
        }
        .subscribe-form {
            .subscribe-input {
                position: relative;
                input {
                    width: 100%;
                    height: 63px;
                    border-width: 0;
                    background-color: $white;
                    padding-left: 30px;
                    border-radius: 5px;
                    font-size: 20px;
                    color: $heading-color;
                }
                button {
                    position: absolute;
                    right: 4px;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 182.76px;
                    height: 55.14px;
                    border-width: 0;
                    background-color: $theme-color;
                    color: $white;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 57px;
                    border-radius: 5px;
                    @include transition(0.3s);

                    &:hover {
                        background-color: #881C04;
                    }
                }
            }
            
        }
        
    }
}


// Responsive 

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 
    
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
    
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .subscribe-area {
        .subscribe {
            background-image: none;
            background-color: $white;
            box-shadow: 0px 4px 50px rgba(159, 159, 159, 0.25);
            padding: 50px 30px;

            h3 {
                color: $theme-color;
                font-size: 30px;
            }
            .subscribe-form {
                .subscribe-input {
                    position: relative;
                    input {
                        border: 1px solid $heading-color;
                    }
                    button {
                        position: inherit;
                        margin-top: 50px;
    
                        &:hover {
                            background-color: #881C04;
                        }
                    }
                }
                
            }
        }
    }
    
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .subscribe-area {
        .subscribe {
            background-image: none;
            background-color: $white;
            box-shadow: 0px 4px 50px rgba(159, 159, 159, 0.25);
            padding: 50px 30px;

            h3 {
                color: $theme-color;
                font-size: 30px;
            }
            .subscribe-form {
                .subscribe-input {
                    position: relative;
                    input {
                        border: 1px solid $heading-color;
                    }
                    button {
                        position: inherit;
                        margin-top: 50px;
    
                        &:hover {
                            background-color: #881C04;
                        }
                    }
                }
                
            }
        }
    }

} 