.testimonial-area {

    .testimonial-slide {
        background-color: #FFFFFF;
        box-shadow: 0px 15px 55px rgba(0, 0, 0, 0.06);
        border-radius: 5px;
        padding: 27px 22px;
        position: relative;

        .testimonial-profile {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
    
            .testimonial-profile-img {
                width: 120px;
                height: 120px;
                position: absolute;
                left: -30px;
                top: -30px;
            }
            .testimonial-profile-title {
                margin-left: 75px;
                margin-bottom: 40px;

                h4 {
                    font-weight: bold;
                    font-size: 22px;
                    line-height: 40px;
                    margin: 0;
                    padding: 0;
                }
                .testimonial-profile-point {
                    a {
                        font-size: 14px;
                        color: #FFC940;
                        display: inline-block;
                        margin-right: 7px;
                    }
                }
            }
        }
        .testimonial-content {
            p {
                font-size: 20px;
                line-height: 34px;
                font-weight: 400;
            }
        }
    }
    
}

.testimonial-slider {
    .testimonial-slide {
        margin: 30px;
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.14);
    }
    .owl-nav {
        position: absolute;
        right: 50%;
        transform: translateX(-50%);
        bottom: -22px;

        .owl-prev {
            background-color: #D0D0D0 !important;
            position: absolute;
            width: 40px;
            height: 40px;
            line-height: 40px !important;
            color: #fff !important;
            right: 10px;
            border-radius: 5px !important;

            &:hover {
                background-color: $theme-color !important;
            }
        }
        .owl-next {
            background-color: #D0D0D0 !important;
            position: absolute;
            width: 40px;
            height: 40px;
            line-height: 40px !important;
            color: #fff !important;
            left: 10px;
            border-radius: 5px !important;

            &:hover {
                background-color: $theme-color !important;
            }
        }
    }
}

// Responsive 

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { 
   
    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { 
   
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    
    
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
   

} 